/*@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Open+Sans|Open+Sans+Condensed');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/*@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Stalemate|Alex+Brush');*/


.emph {
  color: #E32D00 ;  /*#ff5500 #D14300*/
  font-weight: 500;
}

/* pack func and objclass colors initially come from hcl(seq(90,360, length.out=4), c=80, l=80); redone for contrast*/
.pack {
  color: #990071; /*#AC9CFF #e41a1c*/
  font-weight: 500;
}

.func {
  color: #007199;   /*#00CBB6; #984ea3; can just use `` instead*/
  font-weight: 500;
}

.objclass {
  color:  #947100;  /*#AAB400 #4daf4a; #FFC5D0*/
  font-weight: 500;
}

a {
  color: #00aaff; 
}

body {
  color: #585858; /*#595959 (i.e. gray35) provides recommended contrast ratio 7:1 on white; change 9s to 8s for offwhite;*/
  background-color: #fffff8;
  font-family: Roboto;
}

p {

}

.author {
  font-variant: small-caps;
}

code {
  box-sizing: border-box;
  left: 0; /* This changes where the code chunk box actually starts */
  /* padding: 10px 0 10px 60px; /* Change the last value here to move the text left or right */
  position: relative;
  width: 100%; /* This changes where the code chunk box ends on the right side */
  font-family: 'Roboto Mono', Consolas, monospace;
  font-size: 90%; /*changes output size; and comments*/
  /*border: 10px solid #ff5500;*/  /*code block and results border*/
  /*background-color:#ff5500;*/   /* results background*/
  background-size: 90%;

}
pre, pre .r {
  box-sizing: border-box;
  left: 0; /* This changes where the code chunk box actually starts */
  /* padding: 10px 0 10px 60px; /* Change the last value here to move the text left or right */
  position: relative;
  /*width: 100%; /* This changes where the code chunk box ends on the right side */
  font-family: 'Roboto Mono', Consolas, monospace;
  font-size: 90%; /*changes output size; and comments*/
  /*border: 10px solid #ff5500;*/  /*code block and results border*/
  /*background-color: #f5f5f5;*/
}

/*seriously, wtf*/
pre:not([class]) {
    background-color: #fafafa;
    font-size: 90%;
}

#TOC{
  font-size: 75%;
  background-color: #fffff8;
}


.tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    line-height: 30px;
    background-color: #fffff9;
}

li.tocify-item.list-group-item.active {
  color: #fff;
  background-color: #990024;             /* background of current section in toc */
}

h1, h2, h3, h4, h5 {
  color:#990024;
  font-family: 'Roboto Condensed';
}

.col2 {
  columns: 2 200px;         /* number of columns and width in pixels*/
  -webkit-columns: 2 200px; /* chrome, safari */
  -moz-columns: 2 200px;    /* firefox */
}
.col3 {
  columns: 3 100px;
  -webkit-columns: 3 100px;
  -moz-columns: 3 100px;
}

.plotly {
  margin-left: 5%;
  margin-right: 5%;
}

/*.plotly html-widget {
  width: 100%;
}*/

.d3heatmap {
  margin-left: 5%;
  margin-right: 5%;
  width: 75%;
}


div.datatables {
  /*float: left;*/
  max-width: 100%;
}


.table {
  margin: 0 auto;
}


p a {
    background-image: linear-gradient(180deg,transparent 90%, #00aaff 0); /*#fcf113*/
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size .4s ease;
    -moz-transition: background-size .4s ease;
    -ms-transition: background-size .4s ease;
    -o-transition: background-size .4s ease;
    transition: background-size .4s ease;
    border-bottom: 0px solid;
}

p a:focus, p a:hover {
    background-size: 100% 100%;
    cursor: pointer;
    color: #ff5500;
    text-decoration: none;
}

